<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <h2>Login Form</h2> -->

<div >
  <form >
    <div class="col-1" ></div>
      <div class="col-2">
        <h2>Login</h2>
        <div class="row">
          <label class="col-1" for="email">Email</label>
          <input class="col-2" type="text" id="email" name="email" [(ngModel)]="currentUser.email">
        </div>
        <br>
        <div class="row">
          <label class="col-1" for="password">Password</label>
          <input class="col-2" type="password" id="password" name="password" [(ngModel)]="currentUser.password">
        </div>
          <div class="row">
          <input class="col-2" type="submit" (click)="onSubmit()">
        </div>
    </div>
    <div class="col-3"></div>
  </form>
</div>